<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks</key>
	<array>
		<string>sit for 10 seconds</string>
		<string>sit for 5 seconds</string>
		<string>sit for 15 seconds while you clap your hands and return</string>
		<string>sit while you disappear from view, knock or ring the doorbell, say &quot;hello,&quot; talk for 10 seconds, and return</string>
		<string>sit for 20 seconds while you hum</string>
		<string>sit while you disappear from view, say &quot;hello&quot;, invite the imaginary person in, wait 5 seconds, and return</string>
		<string>sit for 10 seconds</string>
		<string>sit for 5 seconds</string>
		<string>sit while you disappear from view, say &quot;hell,&quot; invite the imaginary person in, wait 10 seconds, and return</string>
		<string>sit while you disappear from view, say &quot;hello,&quot; talk (as if to someone) for 5 seconds, and return</string>
		<string>sit for 5 seconds while you clap your hands and hum</string>
		<string>sit while you run around the dog</string>
		<string>sit while you walk back and forth to the door</string>
		<string>sit while you leave the room, quickly knock or ring the doorbell, and return</string>
		<string>sit for 5 seconds</string>
		<string>sit while you leave the room, knock or ring the doorbell for 3 seconds, and return</string>
		<string>sit while you leave the room and knock or ring the doorbell for 5 seconds</string>
		<string>sit while you leave the room and talk for 3 seconds to people who are not there</string>
		<string>sit while you leave the room and talk for 5 seconds to people who are not there</string>
		<string>sit while you leave the room and talk for 10 seconds to people who are not there</string>
		<string>sit while you run around the dog</string>
		<string>sit for 10 seconds while you sit in a chair</string>
		<string>sit for 30 seconds while you sit in a chair</string>
		<string>sit for 15 seconds while you clap your hands and jog</string>
		<string>sit for 5 seconds</string>
	</array>
</dict>
</plist>
