<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks</key>
	<array>
		<string>sit for 5 seconds while you clap</string>
		<string>sit for 10 seconds while you touch your toes</string>
		<string>sit for 15 seconds while you sit in a chair</string>
		<string>sit while you walk quickly 15 steps to the right and return</string>
		<string>sit while you walk quickly 15 steps to the left and return</string>
		<string>sit while you walk approximately 20 steps to an entrance and return</string>
		<string>sit while you disappear from view for 5 seconds and return</string>
		<string>sit while you disappear from view for 10 seconds and return</string>
		<string>sit while you disappear from view for 15 seconds and return</string>
		<string>sit for 10 seconds</string>
		<string>sit for 5 seconds</string>
		<string>sit while you walk quickly 15 steps to the right and return</string>
		<string>sit while you walk quickly 15 steps to the left and return</string>
		<string>sit while you walk approximately 20 steps to an entrance and return</string>
		<string>sit while you disappear from view for 5 seconds and return</string>
		<string>sit while you disappear from view for 10 seconds and return</string>
		<string>sit while you disappear from view for 15 seconds and return</string>
		<string>sit while you disappear from view for 5 seconds, knock softly on the wall, and return</string>
		<string>sit for 5 seconds</string>
		<string>sit while you disappear from view for 5 seconds and return</string>
		<string>sit while you disappear from view for 10 seconds and return</string>
		<string>sit while you disappear from view for 15 seconds and return</string>
		<string>sit while you disappear from view for 5 seconds, knock softly on the wall, and return</string>
		<string>sit while you disappear from view, knock quickly but softly on the wall, and return</string>
		<string>sit for 5 seconds</string>
		<string>sit while you disappear from view for 10 seconds, knock softly on the wall, and return</string>
		<string>sit for 10 seconds</string>
		<string>sit for 5 seconds</string>
	</array>
</dict>
</plist>
