<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks</key>
	<array>
		<string>sit for 10 seconds</string>
		<string>sit for 20 seconds while you clap your hands</string>
		<string>sit while you take 10 steps backward and return</string>
		<string>sit while you walk around the dog</string>
		<string>sit while you go through the door or the entranceway and then return</string>
		<string>sit while you go through the door or the entranceway, clapping your hands, and return</string>
		<string>sit while you open the door or go through the entranceway for 10 seconds and return</string>
		<string>sit for 30 seconds</string>
		<string>sit while you disappear from view for 5 seconds and return</string>
		<string>sit while you go through the door or the entranceway and return</string>
		<string>sit while you go through the door or the entranceway for 10 seconds and return</string>
		<string>sit for 30 seconds</string>
		<string>sit while you disappear from view for 10 seconds and return</string>
		<string>sit while you disappear from view for 15 seconds and return</string>
		<string>sit for 10 seconds</string>
		<string>sit for 15 seconds</string>
		<string>sit for 5 seconds while you clap your hands</string>
		<string>sit while you jog in place for 10 seconds</string>
		<string>sit while you jog 3/4 of the way to the right and return</string>
		<string>sit while you jog 3/4 of the way to the left and return</string>
		<string>sit while you go thorugh the door or the entranceway, clapping your hands, and return</string>
		<string>sit while you open the door or go through the entranceway for 10 seconds and return</string>
		<string>sit for 30 seconds</string>
		<string>sit while you disappear from view for 15 seconds and return</string>
		<string>sit for 10 seconds</string>
		<string>sit for 5 seconds</string>
	</array>
</dict>
</plist>
